* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slider {
  position: relative;
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .images {
  width: 500%;
}

#overflow {
  overflow: hidden;
}

article img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 1rem;
}

.footer .text {
  margin: auto 0;
}

.footer .p {
  font-family: monospace;
  font-weight: 700;
  font-size: 1rem;
  display: none;
}

#desktop:checked ~ #slider {
  max-width: 1280px;
}

label {
  cursor: pointer;
}

.wrapper input {
  display: none;
}

#switch1:checked ~ #slides .images {
  margin-left: 0;
}
#switch2:checked ~ #slides .images {
  margin-left: -100%;
}
#switch3:checked ~ #slides .images {
  margin-left: -200%;
}
#switch4:checked ~ #slides .images {
  margin-left: -300%;
}
#switch5:checked ~ #slides .images {
  margin-left: -400%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#control label {
  border-radius: 1rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #bbb;
  margin: 0.5rem;
  padding: 0.5rem;
}

#control {
  display: flex;
  align-items: center;
  justify-content: center;
  /* @media screen and (max-width: 400px) {
    background: black;
  } */
}

#control label:hover {
  background: #3fa2e3;
}

#switch1:checked ~ .footer #control label:nth-child(1),
#switch2:checked ~ .footer #control label:nth-child(2),
#switch3:checked ~ .footer #control label:nth-child(3),
#switch4:checked ~ .footer #control label:nth-child(4) {
  background: #196ce1;
}

#switch1:checked ~ .footer .text p:nth-child(1),
#switch2:checked ~ .footer .text p:nth-child(2),
#switch3:checked ~ .footer .text p:nth-child(3),
#switch4:checked ~ .footer .text p:nth-child(4) {
  display: block;
}

#slides .images {
  transition: ease-in-out 0.8s;
}
