* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slider {
  position: relative;
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  width: 100%;

  overflow: hidden;
}
/* @media screen and (min-width: 767px) {
  .footer {
    flex-direction: column-reverse;
  }
} */

#slides article {
  width: 20%;
  float: left;
}

#slides .images {
  width: 500%;
}

#overflow {
  overflow: hidden;
}

article img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 1rem;
}

.footer .text {
  margin: auto 0;
}

.footer p {
  font-family: monospace;
  font-weight: 700;
  font-size: 1rem;
  display: none;
  /* opacity: 0;
  transform: scale(0);
  transition: all 0.4s; */
}

label {
  cursor: pointer;
}

.wrapper input {
  display: none;
}

#switch1:checked ~ #slides .images {
  margin-left: 0;
}
#switch2:checked ~ #slides .images {
  margin-left: -100%;
}
#switch3:checked ~ #slides .images {
  margin-left: -200%;
}
#switch4:checked ~ #slides .images {
  margin-left: -300%;
}
#switch5:checked ~ #slides .images {
  margin-left: -400%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
  }
}

#control label {
  border-radius: 1rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #bbb;
  margin: 0.5rem;
  padding: 0.5rem;
}

#control {
  display: flex;
  align-items: center;
  justify-content: center;
}

#control label:hover {
  background: #3fa2e3;
}

#switch1:checked ~ .footer #control label:nth-child(1),
#switch2:checked ~ .footer #control label:nth-child(2),
#switch3:checked ~ .footer #control label:nth-child(3),
#switch4:checked ~ .footer #control label:nth-child(4) {
  background: #196ce1;
}

#switch1:checked ~ .footer .text p:nth-child(1),
#switch2:checked ~ .footer .text p:nth-child(2),
#switch3:checked ~ .footer .text p:nth-child(3),
#switch4:checked ~ .footer .text p:nth-child(4) {
  display: block;
  /* transition: all 400ms cubic-bezier(0.42, 0, 1, 1); */
  /* transition: ease-in-out 0.8s; */
  /* transition: scale(0.8) ease-in-out 1s; */
  /* transform: rotate(45deg); */
  /* transition: cubic-bezier(0.165, 0.84, 0.44, 1); */

  /* visibility: visible;
  opacity: 1;
  transform: scale(1); */
}

#slides .images {
  transition: ease-in-out 0.8s;
}
